# this .gitignore file is for excluding any sensitive data in the repo to prevent any private data leaks
# ======================
 # Terraform
 # ======================
 .terraform/
 *.tfstate
 *.tfstate.*
 crash.log
 terraform.tfvars
 .terraform.lock.hcl
 *.tfvars.json
 
 # ======================
 # AWS / Secrets
 # ======================
 .env
 *.env
 .aws/
 aws_credentials.txt
 
 # ======================
 # Docker
 # ======================
 *.log
 
 # ======================
 # Python
 # ======================
 __pycache__/
 *.pyc
 *.pyo
 *.pyd
 .env/
 
 # ======================
 # OS / Editor
 # ======================
 .DS_Store
 .idea/
 .vscode/
